.root {
    padding: 10px;
}

.title {
    font-size: 16px;
    unity-font-style: bold;
    margin-bottom: 8px;
}

.status {
    margin-top: 6px;
    color: #bbbbbb;
}

#mybutton {
    width: 20px;
}

.treenode {
    width: 64px;
    height: 64px;
    border-radius: 8px;
}

/*.treenode:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.treenode:active {
    background-color: rgba(255, 255, 255, 0.2);
}*/